div{
    width:100px;
    height:100px;
    margin:5px;
    background-color: bisque;
    display: inline-block;
}

div:hover {
    background-color: azure;
}

.borderBottom {
    border-bottom: 5px solid blue;
    transition: border .1s;
    transition-timing-function: ease-in-out;
}


.visible {
    visibility: visible;
}
